.default-layout-container {
  max-height: 100vh;
  overflow-y: auto;
  background-color: var(--bg-color);

  .container {
    margin-top: 1rem;
    min-height: calc(100% - 2rem);
    margin-bottom: 1rem;
  }
}
