#categories-tabs {
  position: relative;
  overflow: hidden;

  .categories-tabs__list {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 0.5rem;
    overflow: overlay;
    -ms-overflow-style: none;
    scrollbar-width: none;
    scroll-behavior: smooth;

    &__item {
      padding: 0.5rem;
      border-radius: var(--border-radius);

      a {
        text-decoration: none;
        color: var(--black);
        line-height: 1rem;

        &.active {
          color: var(--primary-500);
        }

        &:hover {
          color: var(--primary-500);
        }
      }
    }
  }


  #left-chevron,
  #right-chevron {
    z-index: 1;
    position: absolute;
    top: 0;
    padding: 0.5rem;
    border-radius: var(--border-radius);
    cursor: pointer;
  }

  #left-chevron {
    left: 0;
    -webkit-box-shadow: 10px 0px 15px 15px var(--bg-color);
    -moz-box-shadow: 10px 0px 15px 15px var(--bg-color);
    box-shadow: 10px 0px 15px 15px var(--bg-color);
  }

  #right-chevron {
    right: 0;
    -webkit-box-shadow: -10px 0px 15px 15px var(--bg-color);
    -moz-box-shadow: -10px 0px 15px 15px var(--bg-color);
    box-shadow: -10px 0px 15px 15px var(--bg-color);
  }
}
