.default-layout-container {
  max-height: 100vh;
  overflow-y: auto;
  background-color: var(--bg-color);

  #topbar-container {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    padding: 1rem 1rem 0 1rem;
    z-index: 100;
  }

  .container {
    margin-top: 5rem;
    min-height: calc(100% - 10rem);
    margin-bottom: 5rem;
  }

  #bottom-navbar-container {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 0 1rem 1rem 1rem;
  }
}

@media only screen and (min-width: 992px) {
  .default-layout-container {
    .container {
      min-height: calc(100vh - 5rem);
      margin-bottom: 0;
    }

    #bottom-navbar-container {
      display: none;
    }
  }
}
