<app-overlay-loader></app-overlay-loader>
<div class="default-layout-container">
  <p-toast />
  <app-topbar
    id="topbar-container"
    (toggleSidebar)="onToggleSidebar()"
  ></app-topbar>
  <app-sidebar
    [(visible)]="sidebarVisible"
    [items]="navigationItems"
    (visibleChange)="onSidebarVisibleChange($event)"
  ></app-sidebar>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
  <app-bottom-navbar
    id="bottom-navbar-container"
    [items]="navigationItems"
  ></app-bottom-navbar>
</div>
