<app-input-wrapper
  [label]="label"
  [for]="for"
  [required]="required"
  [errors]="errors"
>
  <div [ngClass]="{ 'clearable': clear }">
    @if (textMode) {
      <div>
        {{ value | avoidEmptyValue }}
      </div>
    } @else {
      <div>
        <div>
          <ng-content select="[left]"></ng-content>
          <p-password
            [id]="for | camelToKebab"
            [ngModel]="value"
            [attr.aria-labelledby]="for | camelToKebab"
            [placeholder]="placeholder"
            [attr.aria-placeholder]="placeholder"
            [disabled]="isDisabled"
            [maxLength]="max"
            [minlength]="min"
            [ngClass]="getInputClasses()"
            [toggleMask]="toggleMask"
            [feedback]="feedback"
            [autocomplete]="autocomplete | camelToKebab"
            (input)="onInputChange($event)"
            (onBlur)="onTouched()"
            (ngModelChange)="onModelChange($event)"
          ></p-password>
          @if (clear && !!value) {
            <p-button (onClick)="clearValue()">
              <fa-icon [icon]="faTimes"></fa-icon>
            </p-button>
          }
        </div>
      </div>
    }
  </div>

  @if (!textMode) {
    <div helpText>
      @if (showCounter && maxLength !== null && maxLength > 0) {
        <small> {{ value.length }}/{{ maxLength }} </small>
      }
    </div>
  }
</app-input-wrapper>
