.public-floor-plan-page-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  max-height: 100vh;
  max-width: 100vw;

  .floor-plan-canvas {
    height: calc(100vh - 150px);
  }

  .floors-list {
    height: 150px;
    padding: 1rem;
    overflow-x: auto;
    display: flex;
    align-items: center;
    gap: 1rem;

    .floor-preview {
      border: 0.25rem solid transparent;
      border-radius: var(--border-radius);
      cursor: pointer;
      height: 100%;

      img {
        height: 100%;
        border-radius: var(--border-radius);
      }

      &.selected {
        border: 0.25rem solid var(--primary-500);
      }
    }
  }

  .missing-building-message-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
  }

  .loading-building-spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
  }
}
