<div class="public-floor-plan-page-container">
  @if (buildingId && !buildingLoading) {
    @if (selectedFloor && selectedFloor.floorPlanImageUri) {
      <app-floor-plan-editor
        class="floor-plan-canvas"
        [floorPlanImageUri]="selectedFloor.floorPlanImageUri"
        [markers]="selectedFloorMarkers"
        (onMarkerClick)="onMarkerClick($event)"
      ></app-floor-plan-editor>
    }

    @if (floors.length > 1) {
      <div class="floors-list">
        @for (floor of floors; track floor.id) {
          <div class="floor-preview" [ngClass]="{'selected': floor.id === selectedFloor?.id}"
               (click)="onFloorPreviewClick(floor)">
            <img [src]="floor.floorPlanImageUri" alt="">
          </div>
        }
      </div>
    }

    @if (selectedMarker) {
      <p-galleria
        [value]="markerGalleryImages"
        [(visible)]="showGallery"
        [containerStyle]="{'max-width': '90%'}"
        [numVisible]="9"
        [circular]="true"
        [fullScreen]="true"
        [showItemNavigators]="areThumbnailsVisible"
        [showThumbnails]="areThumbnailsVisible"
      >
        <ng-template pTemplate="item" let-item>
          <img [src]="item" style="width: 100%; display: block;"/>
        </ng-template>
      </p-galleria>
    }
  } @else if (buildingLoading) {
    <div class="loading-building-spinner-container">
      <app-ring-spinner></app-ring-spinner>
    </div>
  } @else {
    <div class="missing-building-message-container">
      <app-empty-message
        [title]="'building.missingBuilding' | transloco"
        [secondary]="true"
      ></app-empty-message>
    </div>
  }
</div>
