<div class="public-floor-plan-page-container">
  @if (selectedFloor && selectedFloor.name) {
    <div class="floor-plan-title">
      {{ selectedFloor.name }}
    </div>
  }
  @if (buildingId && !buildingLoading) {
    @if (selectedFloor && selectedFloor.floorPlanImageUri) {
      <app-floor-plan-editor
        class="floor-plan-canvas"
        [floorPlanImageUri]="selectedFloor.floorPlanImageUri"
        [markers]="selectedFloorMarkers"
        (onMarkerClick)="onMarkerClick($event)"
      ></app-floor-plan-editor>
    }

    @if (floors.length > 1) {
      <div class="floors-list">
        @for (floor of floors; track floor.id) {
          <div class="floor-preview" [ngClass]="{'selected': floor.id === selectedFloor?.id}"
               (click)="onFloorPreviewClick(floor)">
            <img [src]="floor.floorPlanImageUri" alt="">
            @if (floor.name) {
              <div class="name">{{ floor.name }}</div>
            }
          </div>
        }
      </div>
    }
    <app-gallery #carousel [images]="galleryImages"></app-gallery>
  } @else if (buildingLoading) {
    <div class="loading-building-spinner-container">
      <app-ring-spinner [secondary]="true"></app-ring-spinner>
    </div>
  } @else {
    <div class="missing-building-message-container">
      <app-empty-message
        [title]="'building.missingBuilding' | transloco"
        [secondary]="true"
      ></app-empty-message>
    </div>
  }
</div>
