<div id="building-detail-page">
  <section id="building-info-section">
    <div class="building-info-container bg-glass">
      <h1>{{ "building.info" | transloco }}</h1>
      <form [formGroup]="buildingForm">
        <div class="building-info-form">
          <app-input-text
            formControlName="name"
            [label]="'building.name' | transloco"
            [control]="buildingForm.get('name')!"
            [errors]="buildingForm.get('name')!.errors"
          ></app-input-text>
          @if (!isNewBuilding) {
            <div class="building-uri-container">
              <app-input-text
                [label]="'building.uri' | transloco"
                [readonly]="true"
                [value]="buildingUri ?? ''"
              >
                <div right>
                  <app-button [label]="'common.copy' | transloco" [icon]="faCopy"
                              (onClick)="onCopyUriClick()"></app-button>
                </div>
              </app-input-text>
            </div>
          }
        </div>
      </form>
      <app-button [label]="'common.save' | transloco" [icon]="faSave" (onClick)="onSaveClick()"></app-button>
    </div>
  </section>

  <section id="building-floors">
    @if (buildingId) {
      <app-floors-list [floors]="floors" (deleted)="onFloorDeleted()"></app-floors-list>
    }
    @if (!isNewBuilding) {
      <app-button [label]="'building.addFloor' | transloco" [icon]="faPlus" (onClick)="onAddFloorClick()"></app-button>
    }
  </section>
</div>
