<p-overlayPanel #op appendTo="body">
  <div class="overlay-panel-items" role="menu">
    @for (item of items; track item.id; let index = $index) {
      @if (isItemVisible(item)) {
        <div
          class="item"
          [ngClass]="{ 'disabled': isItemDisabled(item) }"
          role="menuitem"
          [tabindex]="index"
          (click)="onItemClick(item)"
        >
          <div
            class="item__icon border-circle"
            [ngClass]="[item.color ? 'item__icon--' + item.color : '']"
          >
            <div class="item__icon__wrapper">
              <ng-container
                *ngTemplateOutlet="
                getIconTemplate(item.icon);
                context: { $implicit: item.icon }
              "
              ></ng-container>
            </div>
          </div>
          <div class="item__label">
            <span class="cursor-pointer">{{ item.label }}</span>
          </div>
        </div>
      }

    }

  </div>
</p-overlayPanel>

<ng-template #primengIcon let-icon>
  <i [ngClass]="icon"></i>
</ng-template>

<ng-template #faIcon let-icon>
  <fa-icon [icon]="icon" size="sm"></fa-icon>
</ng-template>
