#login-card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 1rem;

  #login-form-wrapper {
    display: flex;
    flex-direction: column;

    #welcome-message-container {
      background-color: var(--primary-500, #206db5);
      border-radius: var(--border-radius) var(--border-radius) 0 0;
      color: var(--primary-text-color);
      text-align: center;
      padding: 1rem;

      h1 {
        font-size: 1.75rem;
      }

      h2 {
        font-size: 1.25rem;
        margin-top: 0.75rem;
      }
    }

    #login-form {
      padding: 1rem;
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 1rem;

      #register-link {
        text-align: center;
      }
    }
  }
}

@media only screen and (min-width: 992px) {
  #login-card-container {
    #login-form-wrapper {
      flex-direction: row;

      #welcome-message-container {
        border-radius: var(--border-radius) 0 0 var(--border-radius);
        text-align: left;
      }
    }
  }
}
