<div id="buildings-page">
  <div id="buildings-list-container">
    <app-generic-table
      [columns]="columns"
      [items]="buildings"
      [hideSelection]="true"
      [totalItems]="totalBuildings"
      (dblClick)="goToDetail($event)"
      (add)="onAddBuildingClick()"
    >
      <ng-template appTableCell="createdAt" let-item>
        {{ item.createdAt | dateFormat | avoidEmptyValue }}
      </ng-template>
      <ng-template appTableCell="updatedAt" let-item>
        {{ item.updatedAt | dateFormat | avoidEmptyValue }}
      </ng-template>
      <ng-template appTableCell="actions" let-item>
        <app-common-table-actions
          (edit)="goToDetail(item)"
        ></app-common-table-actions>
      </ng-template>
    </app-generic-table>
  </div>
</div>

