.floor-detail-container {
  padding: 1rem;
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .floor-detail-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .floor-editor-container {
    display: flex;

    .floor-editor {
      width: calc(100% - 300px - 1rem);
      margin-right: 1rem;
    }

    .floor-marker-settings {
      width: 300px;
      min-width: 300px;

      &__form {
        border-radius: var(--border-radius);
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem;

        &__header {
          font-size: 1.2rem;
          font-weight: 700;
        }

        &__image-preview {
          width: 100%;
          border-radius: var(--border-radius);
        }
      }

      .marker-actions {
        display: flex;
        justify-content: flex-end;
        gap: 1rem;
      }
    }
  }

  .floor-actions {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
  }
}
