<div class="floor-detail-container bg-glass">
  <form [formGroup]="floorForm">
    <div class="floor-detail-form">
      <app-input-text
        formControlName="name"
        [label]="'building.floor.name' | transloco"
        [control]="floorForm.get('name')!"
        [errors]="floorForm.get('name')!.errors"
        (onChangeValue)="onFloorNameChange()"
      ></app-input-text>
      <app-input-text
        formControlName="floorPlanImageUri"
        [label]="'building.floor.floorPlanImageUri' | transloco"
        [control]="floorForm.get('floorPlanImageUri')!"
        [errors]="floorForm.get('floorPlanImageUri')!.errors"
        (onChangeValue)="onFloorPlanImageUriChange()"
      ></app-input-text>
    </div>
  </form>
  <div class="floor-editor-container">
    <app-floor-plan-editor
      class="floor-editor"
      [floorPlanImageUri]="floorForm.get('floorPlanImageUri')!.value"
      [markers]="existingMarkers"
      verticalAlign="start"
      (onClick)="onImageClick($event)"
      (onMarkerClick)="onMarkerClick($event)"
    ></app-floor-plan-editor>

    <div class="floor-marker-settings">
      @if (selectedMarker) {
        <div class="floor-marker-settings__form bg-glass">
          <span class="floor-marker-settings__form__header">
            {{ 'building.floor.marker.detail' | transloco }}
          </span>
          <p-messages
            [(value)]="markerFormMessages"
            [enableService]="false"
            [closable]="false"
          />
          <app-input-slider
            [label]="'building.floor.marker.angle' | transloco"
            [(ngModel)]="selectedMarker!.angle"
            [min]="0"
            [max]="360"
            (onSlideEnd)="onMarkerAngleSlideEnd()"
          ></app-input-slider>
          <app-input-text
            [(ngModel)]="selectedMarker!.name"
            [label]="'building.floor.marker.name' | transloco"
            (onChangeValue)="onMarkerNameChanged()"
          ></app-input-text>
          <app-input-text
            [(ngModel)]="selectedMarker!.imageUri"
            [label]="'building.floor.marker.imageUri' | transloco"
            (onChangeValue)="onMarkerImageUriChanged()"
          ></app-input-text>
          @if (selectedMarker.imageUri) {
            <img class="floor-marker-settings__form__image-preview" [src]="selectedMarker.imageUri" alt="image preview">
          }
          <div class="marker-actions">
            <app-button
              [label]="'common.delete' | transloco"
              [icon]="faTrash"
              color="danger"
              (onClick)="onMarkerDeleteClick()"
            ></app-button>
          </div>
        </div>
      }
    </div>
  </div>
  <div class="floor-actions">
    <app-button
      [label]="'common.delete' | transloco"
      [icon]="faTrash"
      color="danger"
      (onClick)="onFloorDeleteClick()"
    ></app-button>
  </div>
</div>

<app-confirm-delete-dialog
  #confirmFloorDeleteDialog
  [header]="'common.warning' | transloco"
  [message]="'building.floor.deleteConfirm' | transloco "
  (delete)="onFloorDeleteConfirm()"
></app-confirm-delete-dialog>

<app-confirm-delete-dialog
  #confirmMarkerDeleteDialog
  [header]="'common.warning' | transloco"
  [message]="'building.floor.marker.deleteConfirm' | transloco "
  (delete)="onMarkerDeleteConfirm()"
></app-confirm-delete-dialog>
