<div class="floor-detail-container bg-glass">
  <form [formGroup]="floorForm">
    <div class="floor-detail-form">
      <app-input-text
        formControlName="name"
        [label]="'building.floor.name' | transloco"
        [control]="floorForm.get('name')!"
        [errors]="floorForm.get('name')!.errors"
        [required]="true"
      ></app-input-text>
      <app-input-text
        formControlName="floorPlanImageUri"
        [label]="'building.floor.floorPlanImageUri' | transloco"
        [control]="floorForm.get('floorPlanImageUri')!"
        [errors]="floorForm.get('floorPlanImageUri')!.errors"
        [required]="true"
        (onChangeValue)="onFloorPlanImageUriChange()"
      ></app-input-text>
    </div>
  </form>
  <div class="floor-editor-container">
    <div class="floor-plan-image-container">
      <img [src]="floorForm.get('floorPlanImageUri')!.value" alt="" (click)="onImageClick($event)"/>
      <div class="markers-overlay">
        @for (marker of existingMarkers; track marker.id) {
          <div
            class="marker"
            [style.left]="'calc(' + marker.xPercentage + '% - 1.5rem)'"
            [style.top]="'calc(' + marker.yPercentage + '% - 1.5rem)'"
            [style.transform]="'rotate(' + marker.angle + 'deg)'"
          >
            <div class="marker-bg">
              <fa-icon [style.transform]="'rotate(' + (360 - marker.angle) + 'deg)'" [icon]="faCamera"></fa-icon>
            </div>

          </div>
        }
      </div>
    </div>
    <div class="floor-marker-settings"></div>
  </div>
  <div class="floor-actions">
    <app-button [label]="'common.delete' | transloco" [icon]="faTrash" color="danger"></app-button>
    <app-button [label]="'common.save' | transloco" [icon]="faSave" (onClick)="onSaveClick()"></app-button>
  </div>
</div>
