.floor-plan-image-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100%;

  img {
    border-radius: var(--border-radius);
  }

  .markers-overlay {
    position: absolute;
    pointer-events: none;
    top: 0;

    .marker {
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      background: conic-gradient(var(--secondary-300) 25deg, transparent 0deg 335deg, var(--secondary-300) 335deg 360deg);
      position: absolute;
      font-size: 0.8rem;
      cursor: pointer;
      color: var(--gold-500);
      display: flex;
      align-items: center;
      justify-content: center;
      pointer-events: initial;

      .marker-bg {
        background: var(--secondary-500);
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 100%;
        border: 0.1rem solid var(--secondary-300);
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &.error {
        background: conic-gradient(var(--error) 25deg, transparent 0deg 335deg, var(--error) 335deg 360deg);

        .marker-bg {
          background: var(--error);
          border-color: var(--error);
        }
      }
    }
  }

}
