#bottom-navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 12px;
  width: 100%;
  height: 4rem;
  padding: 0 0.5rem;
  border-radius: 12px;

  .bottom-navbar-item {
    &__link {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      text-decoration: none;
      color: var(--black);

      &:hover {
        color: var(--primary-500, #206db5);
      }

      &.active {
        color: var(--primary-500, #206db5);
      }
    }
  }
}

@media only screen and (min-width: 992px) {
  #topbar {
    justify-content: unset;

    .title-container {
      text-align: left;
    }
  }
}
