<app-input-wrapper
  [label]="label"
  [for]="for"
  [required]="required"
  [errors]="errors"
>
  <div class="input-slider-container">
    @if (textMode) {
      <div>
        {{ value | avoidEmptyValue }}
      </div>
    } @else {
      <div>
        <div class="input-container">
          <ng-content select="[left]"></ng-content>
          <p-slider
            [ngModel]="value"
            [min]="min"
            [max]="max"
            (onChange)="onModelChange($event)"
            (onSlideEnd)="onSlideEndEvent()"
          ></p-slider>
          <ng-content select="[right]"></ng-content>
        </div>
      </div>
    }
  </div>
</app-input-wrapper>
