<app-input-wrapper
  [label]="label"
  [for]="for"
  [required]="required"
  [errors]="errors"
>
  <div class="input-text-container" [ngClass]="{ 'clearable': clear }">
    <div *ngIf="textMode">
      {{ value | avoidEmptyValue }}
    </div>

    <div *ngIf="!textMode">
      <div>
        <ng-content select="[left]"></ng-content>
        <input
          [type]="type"
          pInputText
          [id]="for | camelToKebab"
          [ngModel]="value"
          [attr.aria-labelledby]="for | camelToKebab"
          [autocomplete]="autocomplete | camelToKebab"
          [placeholder]="placeholder"
          [attr.aria-placeholder]="placeholder"
          [readonly]="readonly"
          [attr.aria-readonly]="readonly"
          [disabled]="isDisabled"
          [max]="max"
          [min]="min"
          [ngClass]="getInputClasses()"
          clea
          (input)="onInputChange($event)"
          (blur)="onTouched()"
          (ngModelChange)="onModelChange($event)"
        />
        @if (clear && !!value) {
          <app-button class="clear-button" [icon]="faTimes" buttonStyle="text" (click)="clearValue()">
          </app-button>
        }
      </div>
    </div>
  </div>

  @if (!textMode) {
    <div helpText>
      @if (showCounter && maxLength !== null && maxLength > 0) {
        <small> {{ value.length }}/{{ maxLength }} </small>
      }
    </div>
  }
</app-input-wrapper>
